@import '~antd/dist/antd.css';

body {
  background-color: #f5f6f8;
  min-height: 100vh;
  padding: 6rem 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
  text-transform: capitalize;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 3rem;
  color: black;
  font-weight: bold;
  justify-items: stretch;
  max-width: 800px;
}

.ant-list {
  width: 100%;
}
.ant-list-items {
  padding: 5px 0;
}
.ant-list-item {
  padding: 3px 0 0 0;
}
.card {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: white;
  height: 4rem;
  color: #444444;
  cursor: pointer;
}

.card > * {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* width: 50%; */
  width: 50%;
}

.mr1 {
  margin-right: 0.25rem;
}

.card > .card-left {
  margin-right: 1rem;
  font-size: 1rem;
}
.card > .card-left > img {
  height: 32px;
  border-radius: 100%;
}
.status-dot {
  display: block;
  min-width: 10px;
  min-height: 10px;
  border-radius: 100%;
  margin: 1rem;
}

.searchbar {
  background-color: white;
  padding: 1rem 2rem;
  margin-top: 4rem;
}
.searchbar:hover {
  background-color: white;
}
.ant-input-prefix {
  margin-right: 2rem;
}
.ant-input-borderless {
  /* font-size: 0.8rem; */
}
.ant-modal-content {
  border-radius: 10px;
}

.modal-C {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-C > *,
.modal-rowc {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.circular {
  border-radius: 100%;
  height: 100px;
}
.modal-rowc {
  padding: 0;
}
.modal-top {
  border-bottom: 1px rgb(200, 200, 200) solid;
  padding: 0rem 2rem 1rem 2rem;
}
.modal-tr {
  margin-left: 1rem;
}
.modal-bc {
  width: 100%;
}
.modal-item {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem;
}
.modal-item-title {
  color: gray;
  font-size: 0.7rem;
  line-height: 0.5rem;
  font-weight: 600;
}
.modal-item-value {
  color: black;
  font-weight: 500;
  text-transform: capitalize;
}
.modal-name {
  color: black;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1rem;
  margin-left: 1rem;
}
